---
import ArtOfTheDay from "components/home/ArtOfTheDay.component.astro";
import Entries from "components/home/Entries.component.astro";
import Main from "layouts/main.layout.astro";
import Intro from "components/home/Intro.component.astro";
---

<Main>
    <Intro />
    <ArtOfTheDay />
    <Entries />
</Main>
