---
import Mainlayout from "layouts/main.layout.astro";
---

<Mainlayout>
  <script type="module" src="/quotes.js"></script>
  <section>
    <p id="english-version-hint">English version soon</p>
    <figure class="default-bottom-spacing" id="quote">
      <blockquote></blockquote>
      <figcaption></figcaption>
    </figure>

    <noscript>
      <figure>
        <blockquote>Don’t quote. Make it yours and say it yourself.</blockquote>
        <figcaption>
          <a href="https://sive.rs/dq">Derek Sivers</a> (via <a
            href="https://47nil.com/playlist.html">47nil</a
          >)
        </figcaption>
      </figure>
    </noscript>
  </section>
</Mainlayout>

<style>
  section {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 800px;
    /* width height minus header height, footer height, margin-block page, margin-inline section */
    min-height: calc(50vh - 60px - 60px - 40px - 14px - 40px - 28px);

    margin-left: 1rem;

    display: flex;
    flex-direction: column;
  }

  section {
    margin-inline: 40px;
    margin-block: 28px;
  }

  figure blockquote {
    margin: 0;
    margin-bottom: 14px;
    font-style: italic;
  }

  figure figcaption::before {
    content: "— ";
  }

  #english-version-hint {
    background-color: var(--white-1);
    font-size: 12px;
    padding: 5px 9px;
    border-radius: 50px;
    opacity: 0.7;
    margin-bottom: 14px;

    display: inline-block;
    text-align: right;
    width: max-content;
    align-self: flex-end;
  }
</style>
