---
import Main from "layouts/main.layout.astro";
---

<Main>
    <div>
        <h1>404</h1>
    </div>
</Main>
<style>
    div {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h1 {
        font-size: 63px;
        font-weight: normal;
    }
</style>
