---
import { getLangFromUrl } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={`0; url=/${lang}`} />
        <title>Redirecting</title>
    </head>
    <body>
        <h1>REDIRECTING</h1>
        <!-- Optionally, you can add some hidden content or message here -->
    </body>
</html>
