---
import ArtOfTheDay from "components/home/ArtOfTheDay.component.astro";
import Intro from "components/home/Intro.component.astro";
import Entries from "components/home/Entries.component.astro";
import Main from "layouts/main.layout.astro";
---

<Main>
  <Intro />
  <ArtOfTheDay />
  <Entries />
</Main>
