---
import HpLayout from "../layouts/hp.layout.astro";
---

<HpLayout>
  <main>
    <img src="./avatar.jpg" id="avatar" />
    <div class="mainText">
      <h2>Salut, c'est mon site</h2>
      <br />
      <p>
        Je suis <a href="https://github.com/pedenys" target="_blank"
          >développeur</a
        >, légèrement <a href="/uses">tech bro</a> par dessus le marché. Mais j'ai
        un petit <a href="/posts">journal culturel prétentieux</a> fait maison.
      </p>
      <p>
        J'aime aussi beaucoup <a
          href="https://www.last.fm/user/pedenys"
          target="_blank">la musique</a
        > et dire <a href="https://twitter.com/pedenys__" target="_blank"
          >des atrocités</a
        > (désolé).
      </p>
    </div>
  </main>
</HpLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    min-heigth: 100vh;
    line-height: 31px;
  }

  img#avatar {
    cursor: pointer;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: 2rem auto;
    filter: var(--filterEffect);
    border: 3px dashed black;
  }

  img#avatar:hover {
    transform: translateX(-10px);
  }

  main a {
    font-weight: bold;
  }

  main ul {
    padding-left: 0rem;
    display: flex;
  }
  main ul li {
    display: flex;
    margin-right: 1rem;
  }

  main ul li:not(.first)::before {
    content: "\0025AA\00a0 ";
  }

  @media (min-width: 638px) {
    main {
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin-top: calc(50vh - 220px);
      max-width: 800px;
      margin-inline: auto;
    }

    main .mainText {
      width: 60%;
    }

    img#avatar {
      margin-left: 2rem;
    }
  }
</style>
