---
import HpLayout from "../layouts/hp.layout.astro";
---

<HpLayout>
  <main>
    <a href="/quotes">
      <img src="./avatar.jpg" id="avatar" />
    </a>
    <div class="mainText">
      <h2>🪴</h2>
      <br />
      <p>
        <a href="https://github.com/pedenys" target="_blank">Développeur</a>,
        légèrement <a href="/uses">tech bro</a> par dessus le marché. J'écris aussi
        des
        <a href="/posts">notes</a> (prétentieuses) sur ce que je lis ou vois.
      </p>
      <p>
        J'aime <a href="https://www.last.fm/user/pedenys" target="_blank"
          >la musique</a
        >. Une citation <a href="/quotes">au hasard</a> pour finir ?
      </p>
    </div>
  </main>
</HpLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-heigth: 100vh;
    line-height: 31px;
  }

  main h2 {
    text-align: center;
  }

  img#avatar {
    cursor: pointer;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: 2rem auto;
    filter: var(--filterEffect);
    border: 3px dashed black;
  }

  main a {
    font-weight: bold;
  }

  main ul {
    padding-left: 0rem;
    display: flex;
  }
  main ul li {
    display: flex;
    margin-right: 1rem;
  }

  main ul li:not(.first)::before {
    content: "\0025AA\00a0 ";
  }

  @media (min-width: 638px) {
    main {
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin-top: calc(50vh - 220px);
      max-width: 800px;
      margin-inline: auto;
    }

    main h2 {
      text-align: inherit;
    }

    main .mainText {
      width: 60%;
    }

    img#avatar {
      margin-left: 2rem;
    }
  }
</style>
