---
import Main from "@/layouts/main.component.astro";
---

<Main>
  <section>
    <h1>Sharing is caring</h1>
    <p>Tips and issues about web development, git and that kind of things.</p>
  </section>
</Main>
