---
import Mainlayout from "../layouts/main/layout.astro";
---

<Mainlayout>
  <script type="module" src="/quotes.js"></script>
  <section>
    <figure id="quote">
      <blockquote></blockquote>
      <figcaption></figcaption>
    </figure>
    <noscript>
      <figure>
        <blockquote>Don’t quote. Make it yours and say it yourself.</blockquote>
        <figcaption>
          <a href="https://sive.rs/dq">Derek Sivers</a> (via <a
            href="https://47nil.com/playlist.html">47nil</a
          >)
        </figcaption>
      </figure>
    </noscript>
  </section>
</Mainlayout>

<style>
  section {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    min-height: 80vh;
  }

  figure#quote {
    display: none;
  }

  figure blockquote {
    margin-left: 1rem;
    font-style: italic;
  }

  figure figcaption {
    margin-left: 1rem;
  }

  figure figcaption::before {
    content: "— ";
  }
</style>
