---
import Main from "layouts/main.layout.astro";
---

<Main>
  <blockquote>
    Si l'informe brute produit l’éclat<br />
    Le rivage baveux des marins muets<br />
    Voguant sur l’écho de lèvres grenat<br />
    N'a d'estime que de soie et bien mêlée.<br />
    <br />
    S'avère vrai m'en la liberté nue<br />
    Il se caresse en son jeu <br />
    Mais la forme, elle, est venue en fer<br />
    Mets l'art en bouteille ! Afin qu'on la boive,<br />
    <br />
    Sers-la en boîte, qu'enfin ton doigté<br />
    Libère des écrous du mets d'ocre<br />
    Et trempe le bout de l'affût.<br />
    <br />
    En tes années de fières luttes <br />
    Quand tu te faisais l'honneur d'une ancre<br />
    Levée, c’était pour la gloire d'une turlutte.
  </blockquote>
</Main>
<style>
  blockquote {
    margin: 1rem;
    font-size: 18px;
  }
  @media (min-width: 638px) {
    blockquote {
      margin: 2rem;
    }
  }
</style>
