---
import Main from "@/layouts/main.component.astro";
---

<Main>
  <h2>hardware</h2>
  <ul>
    <li>Mac Book Pro 14' 2023 M2 16 Go</li>
    <li>iPhone 15 pro</li>
    <li>
      Any external screen when available at the office but none when at home
    </li>
  </ul>

  <h2>software</h2>
  <ul>
    <li>VSCode</li>
    <li>
      <a href="https://culturecode.com" target="_blank" class="external-link"
        >Things</a
      >
    </li>
    <li>Apple Notes</li>
    <li>
      <a href="https://www.raycast.com/" target="_blank" class="external-link"
        >Raycast</a
      >
    </li>
    <li>1Password</li>
    <li>
      Safari / <a
        href="https://thebrowser.company/"
        target="_blank"
        class="external-link">Arc</a
      >
    </li>
    <li>MacOS Mail</li>
  </ul>
</Main>
