---
import Mainlayout from "../layouts/main.layout.astro";
---

<Mainlayout>
  <h1>Uses</h1>
  <section>
    <h2>Hard</h2>
    <ul>
      <li>Mac Book Pro 15' 2018 i7 16 Go</li>
      <li>iPhone 12 64 Go</li>
      <li>
        <a
          href="https://www.amazon.fr/Logitech-Mechanical-Rétroéclairé-Performant-Silencieux/dp/B07W8QFPC8"
          >Logitech MX Mechanical Mini</a
        >
      </li>
      <li>
        <a
          href="https://www.amazon.fr/Logitech-Master-Performante-Ultra-Rapide-Ergonomique/dp/B07W5JKHFZ"
          >Logitech MX Master 3S</a
        >
      </li>
      <li>
        <a href="https://www.amazon.fr/gp/product/B07DHK5DHN"
          >Amazon Basics bras de support</a
        >
      </li>
    </ul>
  </section>
  <section>
    <h2>Soft</h2>
    <ul>
      <li>Things</li>
      <li>Raycast</li>
      <li>VSCode</li>
      <li>Safari</li>
      <li>1Password</li>
      <li>MacOS Mail</li>
      <li>iOS Mail</li>
    </ul>
  </section>
</Mainlayout>
