---
import Mainlayout from "layouts/main.layout.astro";
---

<!-- https://leerob.io/uses -->
<Mainlayout>
  <section>
    <h2>Hardware</h2>
    <ul>
      <li>Mac Book Pro 15' 2018 i7 16 Go</li>
      <li>iPhone 12 64 Go</li>
      <li>Apple Magic Keyboard (blanc) | MX Mechanical Mini (noir)</li>
      <li>Apple Magic Mouse (blanche) | MX Master 3S (noire)</li>
      <li>
        <a href="https://www.amazon.fr/gp/product/B07DHK5DHN"
          >Amazon Basics bras de support</a
        >
      </li>
    </ul>

    <h2>Software</h2>
    <ul>
      <li><a href="https://culturedcode.com/things/">Things</a></li>
      <li><a href="https://www.raycast.com/">Raycast</a></li>
      <li><a href="https://code.visualstudio.com/">VSCode</a></li>
      <li><a href="https://1password.com/fr/">1Password</a></li>
      <li>Safari</li>
      <li>MacOS Mail</li>
      <li>iOS Mail</li>
    </ul>
  </section>
</Mainlayout>

<style>
  section {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 4rem;
  }

  section ul:first-of-type {
    margin-bottom: 4rem;
  }

  h2 {
    margin-bottom: 1.7rem;
  }
</style>
