<p class="default-bottom-spacing">
  <span class="tint-accent">Minimalist</span> software developer, trained in <span
    class="tint-accent">continental philosophy</span
  >
</p>

<style>
  p {
    color: var(--white-1);
    font-size: 18px;
  }
</style>
