---
import { useTranslations } from "src/i18n/utils";

const t = useTranslations();
---

<p class="default-bottom-spacing">
    <span class="tint-accent">{t("intro.minimalist")}</span>{
        t("intro.developerTraindIn")
    }<span class="tint-accent"> {t("intro.continentalPhilosophy")}</span>
</p>

<style>
    p {
        color: var(--white-1);
        font-size: 18px;
    }
</style>
