<div class="now-container">
    <p>
        &#9775;&nbsp;<i>La crise de la conscience européenne 1680 - 1715</i>,
        Paul Hazard
    </p>
    <p>&#9833;<i>The Book of Lies</i>, Jack The Ripper</p>
</div>

<style>
    .now-container p {
        font-size: 12px;
    }
</style>
