<script>
  import "../scripts/colorPicker";
</script>

<div id="circle-container">
  <svg width="34px" height="34px">
    <circle
      id="circle"
      cx="17"
      cy="17"
      r="15"
      stroke="black"
      stroke-width="3"
      fill="rgb(249, 240, 193)"></circle>
  </svg>
</div>

<style>
  #circle-container {
    transform: scale(0.6) translateY(3px);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    line-height: 0;
    margin-right: 0.7rem;
  }
  #circle-container circle {
    fill: var(--hoverColor);
  }
  @media (min-width: 638px) {
    #circle-container {
      transform: scale(0.8) translateY(1px);
    }
  }
</style>
