<footer>
  <a href="https://github.com/pedenys">github</a>
  <a href="mailto:mailto:pedenys@pm.me">mail</a>
</footer>
<style>
  footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  a:first-of-type {
    margin-right: 1rem;
  }
</style>
