<footer>
  <p>
    I'm also not here on <a href="https://x.com/pedenys__" class="default-link"
      >X</a
    >, <a href="https://ni.hil.ist/@kzfkz" class="default-link">Mastodon</a> and
    <a href="https://github.com/pedenys" class="default-link">GitHub</a>
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 60px;

    border-top: 1px solid var(--grey-1);

    p {
      font-size: 14px;
    }
  }
</style>
