<footer>
  <a href="https://github.com/pedenys" target="_blank">github</a>
  <a href="mailto:mailto:pedenys@pm.me" target="_blank">mail</a>
</footer>
<style>
  footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  a:not(last--of-type) {
    margin-right: 1rem;
  }
  a span {
    font-size: 1.2rem;
  }
</style>
