<header>
  <a href="/">pedenys</a>
  <div id="menu">
    <a href="/posts">posts</a>
    <a href="/about">about</a>
  </div>
</header>
<style>
  header {
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 1.6rem;
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 2;
  }

  header #menu a:not(:last-of-type) {
    margin-right: 0.5rem;
  }
</style>
