---
import { getUrl } from "src/i18n/utils";

const currentLanguage = Astro.currentLocale || "en";
const targetLanguage = currentLanguage === "en" ? "fr" : "en";

console.log({
    ass: Astro.url.origin,
    currentPathname: Astro.url.pathname,
    currentLanguage,
});
---

<a
    class="language"
    href={getUrl({
        language: currentLanguage,
        origin: Astro.url.origin,
        pathname: Astro.url.pathname,
    })}
>
    {"->"}&nbsp;{targetLanguage}
</a>

<style>
    .language {
        text-decoration: none;
        font-size: 14px;
    }
</style>
