<div id="menu-mobile">
  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 50 50"
    width="25px"
    height="25px"
    ><path
      d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"
    ></path>
  </svg> -->
  <svg
    width="33"
    height="20"
    viewBox="0 0 33 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1_2)">
      <rect width="33" height="20" fill=""></rect>
      <path d="M0 0H33" stroke="black" stroke-width="2" stroke-linecap="round"
      ></path>
      <path d="M0 9.87656H33" stroke="black" stroke-linecap="round"></path>
      <path d="M0 20H33" stroke="black" stroke-width="2" stroke-linecap="round"
      ></path>
    </g>
    <defs>
      <clipPath id="clip0_1_2">
        <rect width="33" height="20" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</div>
<style>
  #menu-mobile svg {
    line-height: 0;
  }
</style>
