---
import type { Post } from "../types/post.type";

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 && posts[0] && (
    <h2>{new Date(posts[0].frontmatter.date).getFullYear()}</h2>
    <ul>
      {posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
          <time datetime={post.frontmatter.date}>
            ({new Date(post.frontmatter.date).toLocaleDateString("fr-fr", {
              year: "numeric",
              month: "numeric",
              day: "numeric",
            })})
          </time>
        </li>
      ))}
    </ul>
  )
}

<style>
  h2 {
    text-align: center;
  }

  time {
    font-size:14px;
  }
</style>