---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div>
<article>
<h2>{t('qa.one.question')}</h2>
<p>{t('qa.one.answer')}</p>
</article>
<article>
<h2>{t('qa.two.question')}</h2>
<p>{t('qa.two.answer')}</p>
</article>
<article>
<h2>{t('qa.three.question')}</h2>
<p>{t('qa.three.answer')}</p>
</article>
<article>
<h2>{t('qa.four.question')}</h2>
<p>{t('qa.four.answer')}</p>
</article>
<article>
<h2>{t('qa.five.question')}</h2>
<p>{t('qa.five.answer')}</p>
</article>
<article>
<h2>{t('qa.six.question')}</h2>
<p>{t('qa.six.answer')}</p>
</article>
<article>
<h2>{t('qa.seven.question')}</h2>
<p>{t('qa.seven.answer')}</p>
</article>
<article>
<h2>{t('qa.height.question')}</h2>
<p>{t('qa.height.answer')}</p>
</article>
<article>
<h2>{t('qa.nine.question')}</h2>
<p>{t('qa.nine.answer')}</p>
</article>
</div>

<style>
article {
    margin-bottom:21px;
    h2 {
line-height: 1.3;
    }
    p {
        color:var(--white-1)

    }
}
</style>
